In [1]:
import pandas as pd
#import os
#import json
import numpy as np
#import folium
#import time
#import pickle
#from IPython.display import Image 
#import plotly.express as px
#import plotly.offline as plo
#plo.init_notebook_mode()
#import plotly.io as pio
import geopandas as gpd

In [2]:
# taas PM 사고정보
accident = pd.read_csv('./data/seoul/seoul_accidentInfoList.csv')
accident = pd.DataFrame(accident)

In [2]:
# 국토교통부 표준링크, 구간길이 포함됨
nodeLink = gpd.read_file('./data/NODELINKDATA/MOCT_LINK.shp', encoding='euc-kr')

In [ ]:
# 서울시 구단위 shp불러오기
seoul_gu = gpd.read_file('./data/shp/gu5181.shp', encoding='euc-kr').to_crs(5181)
seoul_gu.plot()
seoul_gu.head()

In [3]:
# 전국구 NODELINK를 서울만 남기기
seoul_nodeLink = nodeLink[(nodeLink['LINK_ID'].str[:3] >= '100') &
                          (nodeLink['LINK_ID'].str[:3] <= '124')]
seoul_nodeLink = seoul_nodeLink.to_crs(5181)

In [4]:
seoul_nodeLink.head()

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK,geometry
16,1180132201,1190022300,1180073801,4,102,000,88,올림픽대로,0,0,000,80,5,0.0,0,303.792245,None,"LINESTRING (193592.318 446226.053, 193494.592 ..."
17,1180132301,1180073801,1180069200,4,102,000,88,올림픽대로,0,0,000,80,5,0.0,0,1859.122966,None,"LINESTRING (193314.178 446295.351, 193186.398 ..."
18,1020057601,1020041501,1020024700,4,107,000,-,한강대로,0,0,000,50,0,0.0,0,682.162482,None,"LINESTRING (197247.555 447854.505, 197251.858 ..."
19,1020057501,1020025100,1020041501,4,107,000,-,한강대로,0,0,000,50,0,0.0,0,681.880743,None,"LINESTRING (197651.895 448396.880, 197592.750 ..."
82,1040045101,1040023000,1040030201,5,107,000,-,천호대로,0,0,000,50,0,0.0,0,282.101997,None,"LINESTRING (208027.279 450068.519, 208048.085 ..."

In [6]:
# 파일로 저장
seoul_nodeLink.to_file('./data/seoul/nodeLink_seoul.shp', driver = 'ESRI Shapefile', encoding='euc-kr')

C:\miniforge\envs\gis\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [42]:
seoul_nodeLink.head()
type(seoul_nodeLink)

geopandas.geodataframe.GeoDataFrame

In [11]:
# 신호등 데이터의 x, y 좌표를 통해 포인트로 변환
Lights_df = pd.read_csv('./data/seoul/서울시 신호등 관련 정보.csv', encoding='euc-kr')
seoul_lights = gpd.GeoDataFrame(Lights_df, geometry=gpd.points_from_xy(Lights_df.X좌표, Lights_df.Y좌표))

In [48]:
# 횡단보도 데이터의 wkt를 통해 GeoDataFrame으로 변환
crossWalk_df = pd.read_csv('./data/seoul/서울시 대로변 횡단보도 위치정보.csv', encoding='euc-kr')
crossWalk_series = gpd.GeoSeries.from_wkt(crossWalk_df['노드 WKT'])
seoul_crossWalk = gpd.GeoDataFrame(crossWalk_df, geometry = crossWalk_series)
seoul_crossWalk.crs='epsg:4326'
seoul_crossWalk.to_crs(5181)

,노드링크 유형,노드 WKT,노드 ID,노드 유형 코드,링크 WKT,링크 ID,링크 유형 코드,시작노드 ID,종료노드 ID,링크 길이,시군구코드,시군구명,읍면동코드,읍면동명,geometry
0,NODE,POINT(127.00848434736756 37.572744392771725),152890,0.0,NaN,0,NaN,NaN,NaN,NaN,1111000000,종로구,1111016400,종로6가,POINT (200749.504 452577.892)
1,NODE,POINT(126.9732932995499 37.57416659309225),132275,0.0,NaN,0,NaN,NaN,NaN,NaN,1111000000,종로구,1111011400,내자동,POINT (197640.786 452736.041)
2,NODE,POINT(127.00839233237164 37.57268718616623),152891,0.0,NaN,0,NaN,NaN,NaN,NaN,1111000000,종로구,1111016400,종로6가,POINT (200741.376 452571.542)
3,LINK,NaN,0,NaN,LINESTRING(126.97737650332448 37.5753884939723...,166553,1011.0,132992.0,132993.0,4.324,1111000000,종로구,1111011900,세종로,None
4,NODE,POINT(127.00838949946444 37.57306479336254),152892,0.0,NaN,0,NaN,NaN,NaN,NaN,1111000000,종로구,1111016400,종로6가,POINT (200741.122 452613.452)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075,LINK,NaN,0,NaN,LINESTRING(127.13672565288272 37.5347331927440...,178825,1000.0,124736.0,124727.0,12.130,1174000000,강동구,1174010500,길동,None
31076,LINK,NaN,0,NaN,LINESTRING(127.1471841739209 37.54069880295481...,270342,1000.0,104386.0,125666.0,11.780,1174000000,강동구,1174010500,길동,None
31077,LINK,NaN,0,NaN,LINESTRING(127.13202752089661 37.5300426714414...,279743,1000.0,124216.0,124217.0,9.228,1174000000,강동구,1174010800,성내동,None
31078,LINK,NaN,0,NaN,LINESTRING(127.144153875108 37.550904404891641...,248950,1000.0,184181.0,184569.0,13.362,1174000000,강동구,1174010100,명일동,None
31079,LINK,NaN,0,NaN,LINESTRING(127.1720376279829 37.55386505270934...,245496,1011.0,33517.0,201003.0,14.935,1174000000,강동구,1174010300,상일동,None

In [49]:
# 용도지역
UPIS = gpd.read_file('./data/용도지역/UPIS_C_UQ111_ORG.shp', encoding='euc-kr')
UPIS.head()

,PRESENT_SN,LCLAS_CL,MLSFC_CL,SCLAS_CL,ATRB_SE,WTNNC_SN,NTFC_SN,DGM_NM,DGM_AR,DGM_LT,SIGNGU_SE,DRAWING_NO,CREATE_DAT,SHAPE_AREA,SHAPE_LEN,geometry
0,11000UQ111PS201912152362,UQA100,UQA120,UQA122,UQA122,11000ARZ201005262565,11000NTC200909283894,제2종일반주거지역,110808.770116,3143.396382,11000,None,2019-12-15,110808.779692,3143.396207,"MULTIPOLYGON (((208810.652 441254.450, 208816...."
1,11000UQ111PS201912156538,UQA400,UQA430,None,UQA430,11000ARZ201707145882,11000NTC201612287982,자연녹지지역,333.513782,149.428144,11000,None,2019-12-15,333.513971,149.428144,"POLYGON ((209522.225 456079.986, 209525.904 45..."
2,11000UQ111PS201912155270,UQA100,UQA120,UQA122,UQA122,11000ARZ201901111124,11000NTC201812280016,제2종일반주거지역,22507.192834,1005.839893,11000,None,2019-12-15,22507.192553,1005.839838,"MULTIPOLYGON (((209259.015 456202.977, 209258...."
3,11000UQ111PS201912156538,UQA400,UQA430,None,UQA430,11000ARZ201707145882,11000NTC201612287982,자연녹지지역,26333.016681,1049.291227,11000,None,2019-12-15,26333.019454,1049.291227,"POLYGON ((209394.015 456470.130, 209383.017 45..."
4,11000UQ111PS201912156498,UQA400,UQA430,None,UQA430,11000ARZ201707105881,11000NTC201401037058,자연녹지지역,4407.674910,426.817727,11000,None,2019-12-15,4407.674910,426.817727,"POLYGON ((209054.719 456684.160, 209053.466 45..."